__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.idea/
.vscode/
.DS_Store

data/cache/
data/raw/
data/processed/
data/checkpoints/
*.parquet
*.log

spark-warehouse/
metastore_db/
derby.log

.ipynb_checkpoints/
